
.about{
    margin: 20px auto;
    display: flex;
    height: 25rem;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #f1d6d6;
    border-radius: 25px;
    
  
}
.About_head{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #d90429;
}
.left-about{
    flex-basis: 40%;
    position: relative;
    
}
.right-about{
    flex-basis: 54%;
    color: black;
}
.temp-bg{
   max-width: 100%;
   height: 12rem;
    border-radius: 20px;
  
}
.play-icon{
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.right-about h3 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 15px;
        color: #333;
}
.right-about p {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 15px;
    }