@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
   
}
/* a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
} */
.container{
    padding-left: 8%;
    padding-right: 8%;
}
.page-container {
  padding-top: 70px;
}